/*NAVEGAÇÃO ENTRE PAGINAS*/
.logo {
    width: 350px;
    height: 150px;
}

.caixa {
    position: relative;
    width: 800px;
    margin: 0 auto;
    
}

nav {
    position: absolute;
    top: 50px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: rgb(224, 133, 14);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #000000;
}

/*HOME*/
body {
    background: #320141;
    background: -moz-linear-gradient(topo, #ee7716 0%, #e98718 50%, #aa1191 100%);
    background: -webkit-linear-gradient(topo, #720880 0%, hsl(305, 73%, 44%) 50%, #4d0f55 100%);
    background: linear-gradient(to right, #a30a8f 0%, #8e169e 50%, #b10d80 100%);
}

h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    letter-spacing: 3.6px;
    word-spacing: 0px;
    color: rgb(243, 152, 17);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase
}

.banner {
    width: 100%;
    height: 450px;
}

p {
    text-align: center;
    color: orange;
}


h2 {
    text-align: center;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

strong{
    color: rgb(221, 95, 11);
}

footer {
    
    text-align: center; 
    padding: 20px;
    background: -moz-linear-gradient(topo, #2e0958 0%, #591f68 50%, #5b1561 100%);
    background: -webkit-linear-gradient(topo, #612a66 0%, #4e1a5e 50%, #4d0863 100%);
    
}

.rodape {
    width: 100%;
    height: 450px;
}

.copyright {
    color: rgb(245, 97, 17);
    font-size: 17px;
}

