body {
    background: #320141;
    background: -moz-linear-gradient(topo, #250533 0%, #330c5f 50%, #1e023d 100%);
    background: -webkit-linear-gradient(topo, #1f023a 0%, hsl(293, 44%, 25%) 50%, #4d0f55 100%);
    background: linear-gradient(to right, #1a0236 0%, #360755 50%, #360e42 100%);
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: sticky;
    width: 400px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(230, 140, 6);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(240, 119, 21);
    text-decoration: underline;
}

/*HOME*/

 {
    -webkit-box-shadow: 2px 2px 34px 3px rgba(0,0,0,0.95); 
    box-shadow: 2px 2px 34px 3px rgba(0,0,0,0.95);
    width: 100%;
}

.Principal {
    padding: 30px;
}

h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    letter-spacing: 3.6px;
    word-spacing: 0px;
    color: rgb(219, 132, 2);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase
}

.Qualidades {
    padding: 20px;
    font-size: 20px;
}

h2 {
    text-align: center;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

. {
    width: 57%;
    height: 570px;
    
}

 {
    width: 50%;
    height: 500px;
}

p {
    text-align: center;  
}

strong{
    color: rgb(221, 95, 11);
}

footer {
    
    text-align: center; color: #15d80e;
    padding: 20px;
    background: -moz-linear-gradient(topo, #3c0b74 0%, #620879 50%, #670670 100%);
    background: -webkit-linear-gradient(topo, #65036e 0%, #5b0c74 50%, #4d0863 100%);
    
}

.copyright {
    color: rgb(245, 97, 17);
    font-size: 17px;
}

